@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none;
  -moz-user-select: none; */
}
body {
  font-family: "Barlow", "Caveat", "Rubik Viny", sans-serif;
  background: #000;
  color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.bg-video {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.loader {
  position: relative;
  display: flex;
  gap: 0.3em;
}

.loader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2em;
  filter: blur(45px);
  background-color: #e299ff;
  background-image: radial-gradient(
      at 52% 57%,
      hsla(11, 83%, 72%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 37% 57%, hsla(175, 78%, 66%, 1) 0px, transparent 50%);
}

.loader__circle {
  --size__loader: 0.6em;
  width: var(--size__loader);
  height: var(--size__loader);
  border-radius: 50%;
  animation: loader__circle__jumping 2s infinite;
  background-color: #b499ff;
}

.loader__circle:nth-child(2n) {
  animation-delay: 300ms;
  background-color: #e499ff;
}

.loader__circle:nth-child(3n) {
  animation-delay: 600ms;
}

@keyframes loader__circle__jumping {
  0%,
  100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-15px) scale(0.5);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px) scale(0.9);
  }
}
